<div>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.title, category_path(category) %></li>
    <% end %>
  </ul>
</div>
<% @items.each do |item| %>
  <p><%= item.title %> | <%= number_to_currency(item.price) %> |  <%= render partial: "items/button_for_add_to_cart", locals: {item: item} %></p>
<% end %>